<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- DB Connection -->
        <property name="connection.url">jdbc:postgresql://localhost:5432/hillel</property> <!-- BD Mane -->
        <property name="connection.driver_class">org.postgresql.Driver</property> <!-- DB Driver -->
        <property name="connection.username">postgres</property> <!-- DB User -->
        <property name="connection.password">password</property> <!-- DB Password -->

        <!-- Hibernate Settings -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property> <!-- DB Dialect -->
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- create / create-drop / update -->

        <property name="show_sql">true</property> <!-- Show SQL in console -->
        <property name="format_sql">true</property> <!-- Show SQL formatted -->

        <!-- Entity Mapping -->
        <mapping class="lesson_30_JPA_and_Hibernate.classwork.dto.Student"/>
        <mapping class="lesson_30_JPA_and_Hibernate.classwork.dto.Group"/>

    </session-factory>
</hibernate-configuration>